[[imports]]
path = "github.com/lxndrblz/anatole"
disable = false

theme = "github.com/lxndrblz/anatole"

enableEmoji = true
enableRobotsTXT = true

[sitemap]
changeFreq = 'daily'
disable = false
filename = 'sitemap.xml'
priority = -1

# Syntax highlighting
pygmentsUseClasses = true
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = true

[markup]
[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true

[taxonomies]
category = "categories"
tag = "tags"
series = "series"

[related]
includeNewer = true
threshold = 80
toLower = true
[[related.indices]]
name = 'tags'
weight = 100
[[related.indices]]
name = 'keywords'
weight = 80
